services:
  db:
    image: postgres:15
    container_name: hedge_fund_db
    restart: always
    environment:
      POSTGRES_USER: quant_user
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: alpha_db
    ports:
      - "5432:5432"