version: "3.8"
services:
  db:
    image: postgres:15
    container_name: hedge_fund_db
    restart: always
    environment:
      postgres_user: quant_user
      postgres_password: password123
      postgres_db: alpha_db
    ports:
      - "5432:5432"